---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?format=json&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 7f3b01f9cba606a749aaf4bd4ef7558f
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - users:read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-oqmd,haproxy-edge-pdx-1350
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"T01C6RMKV0U","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"T01C6RMKV0U"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"U01C0LNKLEN","team_id":"T01C6RMKV0U","name":"earth_emily_api_proje","deleted":false,"color":"e7392d","real_name":"Earth
        - Emily - API Project","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight
        Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Earth
        - Emily - API Project","real_name_normalized":"Earth - Emily - API Project","display_name":"","display_name_normalized":"","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"gef282f65beb","api_app_id":"A01C0SBD2SF","always_active":false,"bot_id":"B01CD9S36V7","image_24":"https:\/\/secure.gravatar.com\/avatar\/ef282f65beb64d7cf4cbcc11029a2a0a.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0003-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/ef282f65beb64d7cf4cbcc11029a2a0a.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0003-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/ef282f65beb64d7cf4cbcc11029a2a0a.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatar[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.list?format=json&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 2147ecb155ece9371bb608da9422e840
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-rqf6,haproxy-edge-pdx-hsew
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C01BXHENHDK","name":"slack-cli","is_channel":true,"is_group":false,"is_im":false,"created":1601946873,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"slack-cli","is_shared":false,"parent_conversation":null,"creator":"U01CD92U2SD","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01C6RMKV0U"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        *channel* is for working on a project. Hold meetings, share docs, and make
        decisions together with your team.","creator":"U01CD92U2SD","last_set":1601946873},"previous_names":[],"num_members":2},{"id":"C01C0S2T0E7","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1601946759,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"U01CD92U2SD","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01C6RMKV0U"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"Yay
        [...]
